body{
	margin:0;
	padding: 0;
	font-size: 18px;
}
.right{
	text-align: right;
}


input{
	border:solid 1px #A9A9A9;
	border-radius: 5px;
	background:white;
	color:black;
	height:18px;
	font-size: 18px;
	width:180px;
}
select{
	width: 180px;
	border:solid 1px #A9A9A9;
	border-radius: 5px;
	height:20px;
	font-size: 16px;
}
span{
	color:blue;
	cursor:pointer;
}

span.show{
	display:none;
}

#content{
	width:400px;
	height: 150px;
}

table{
	width:300px;
	border:none;
}

td{
	height:25px;
	line-height:25px;
}

h3{
	height:120px;
	background:url(../image/server.png) no-repeat left center;
	line-height: 120px;
	padding-left: 120px;
}
